<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">{{ title | uppercase }}</span>
          <form
            class="mt-3"
            [formGroup]="productForm"
            (ngSubmit)="addProduct()"
          >
            <div
              class="mb-3"
              *ngFor="let param of ['name', 'category', 'location', 'price']"
            >
              <input
                [type]="param !== 'price' ? 'text' : 'number'"
                [formControlName]="param"
                class="form-control form-control-lg"
                [placeholder]="param | titlecase"
              />
              <div class="text-danger" *ngIf="validateInput(param)">
                <span
                  ><strong>{{ param | uppercase }}</strong> is mandatory</span
                >
              </div>
            </div>

            <div class="mb-3">
              <div
                class="form-check form-switch"
                (mouseover)="showPopover()"
                (mouseleave)="restartPopover()"
              >
                <input
                  formControlName="isImgFile"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  checked
                />

                <label
                  class="form-check-label float-start"
                  for="flexSwitchCheckChecked"
                >
                  {{
                    productForm.value.isImgFile
                      ? glassDisplay
                        ? "Upload your image "
                        : popover
                      : glassDisplay
                      ? "Paste an URL of an image"
                      : popover
                  }}<i
                    *ngIf="productForm.value.isImgFile && glassDisplay"
                    class="fa-solid fa-magnifying-glass"
                  ></i
                ></label>
              </div>
              <input
                [type]="productForm.value.isImgFile ? 'file' : 'text'"
                formControlName="image"
                class="form-control form-control-lg"
                placeholder="URL for image"
                (mouseover)="
                  productForm.value.isImgFile ? showPopover() : restartPopover()
                "
                (mouseleave)="restartPopover()"
                (change)="setImg($event)"
              />
              <div class="text-danger" *ngIf="validateInput('image')">
                <span>Add your <strong>image</strong> please</span>
              </div>
            </div>

            <div class="mb-3">
              <button
                type="button"
                routerLink="/admin/list"
                class="btn btn-secondary btn-lg float-start"
              >
                Go Back
              </button>
              <button
                type="submit"
                class="btn btn-success btn-lg float-end"
                [disabled]="productForm.invalid"
              >
                Confirm
              </button>
            </div>
          </form>
          <div *ngIf="preview">
            <img [src]="preview" alt="image preview" width="200" height="200" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
