<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card-body text-center">
        <span class="title">List of Products</span>
        <button class="btn btn-success float-end">New</button>
        <table>
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>product.name</td>
              <td>product.Category</td>
              <td>product.Location</td>
              <td>product.Price</td>
              <td><img src="#" alt="" /></td>
              <td>
                <i class="fas fa-edit text-primary"></i>
                <i class="fas fa-trash text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
