<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">{{ title | uppercase }}</span>
          <button routerLink="/admin/create" class="btn btn-success float-end">
            New
          </button>
          <table
            class="table table-striped mt-3"
            *ngIf="productsList.length > 0"
          >
            <thead>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Location</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col" class="text-center">Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let product of productsList">
                <td class="table-layout">{{ product.name }}</td>
                <td class="table-layout">{{ product.category }}</td>
                <td class="table-layout">{{ product.location }}</td>
                <td class="table-layout">{{ product.price | currency : "EUR" }}</td>
                <td style="padding: 10px 0 10px 0;">
                  <img
                    [src]="product.image"
                    style="border-radius: 10px;"
                    height="50"
                    width="50"
                    [alt]="product.name"
                  />
                  <!-- modal para mostrar imagen -->
                </td>
                <ng-template [appRoles]="['Employee', 'Admin']">
                  <td class="table-layout">
                    <i
                      (click)="editProduct(product)"
                      type="button"
                      class="fas fa-edit text-primary"
                      style="font-size: 1.4rem;"
                    ></i>
                    <span>&nbsp;&nbsp;</span>
                    <i
                      (click)="deleteProduct(product)"
                      type="button"
                      class="fas fa-trash text-danger"
                      style="font-size: 1.4rem;"
                    ></i></td
                ></ng-template>
               <!--  <ng-template [appRoles]="['Seller']"> -->
                  <td class="table-layout">
                    <input
                      [(ngModel)]="stock"
                      class="input-custom"
                      placeholder="stock"
                      type="number"
                      min="1"
                      max="10"
                      />
                      <span>Units&nbsp;&nbsp;</span>
                    <input
                      [(ngModel)]="margin"
                      class="input-custom"
                      placeholder="margin"
                      type="number"
                      min="10"
                      max="20"
                    />
                    <span>%&nbsp;&nbsp;</span>
                    <i
                      (click)="salesCorner(product)"
                      type="button"
                      class="fa-solid fa-circle-plus text-primary"
                      style="font-size: 1.4rem;"
                    ></i>
                  </td>
             <!--  </ng-template> -->
                <!-- modal para editar / borrar -->
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="productsList.length == 0">There's not products to show</h5>
        </div>
      </div>
    </div>
  </div>
</div>
